# **Preprocessing & Evaluation**

> ### Mitul Agrawal

Drive Link : [PRML Lab 1 Drive](https://drive.google.com/drive/folders/1s-SjO2uPZO5FS-Wx7AxTVdquwn8q5JDf?usp=sharing)

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

path = '/content/drive/My Drive/PRML/Lab 1/'

Mounted at /content/drive/

##Preprocessing

####Importing

In [ ]:
import pandas as pd

df = pd.read_csv(path+'Cars93.csv')

df.head(3)

  Manufacturer    Model     Type  ...  Luggage.room  Weight   Origin
0        Acura  Integra    Small  ...          11.0    2705  non-USA
1        Acura   Legend  Midsize  ...          15.0    3560  non-USA
2         Audi       90  Compact  ...          14.0    3375  non-USA

[3 rows x 26 columns]

###Cleaning Data

In [ ]:
def remove_missing(df) : 
  remove = []
  for i, row in df.iterrows():
    if row.isna().values.any() : remove.append(i)
  df.drop(remove,axis=0,inplace=True)

print("Number of Rows Before :",df.shape[0])

remove_missing(df)

print("Number of Rows After  :",df.shape[0])

Number of Rows Before : 93
Number of Rows After  : 82

In [ ]:
def remove_mismatch(df) : 
  for col in df : 
    df.reset_index(drop=True, inplace=True)
    s = [False]*len(df[col])
    for i,cell in enumerate(df[col]) : 
      try : n = int(cell)
      except : s[i] = True
    t = s.count(True)
    f = s.count(False)
    st = False
    if(t>f) : st = True
    remove = [i for i in range(len(df[col])) if s[i]!=st]
    df.drop(remove,axis=0,inplace=True)
      
print("Number of Rows Before :",df.shape[0])

remove_mismatch(df)

print("Number of Rows After  :",df.shape[0])

Number of Rows Before : 82
Number of Rows After  : 75

###Encoding

In [ ]:
# Problem 3 - 4


# Encode Label (ordinal type) for 1 column
def encode_label(df,col,order) : 
  for i,cell in enumerate(df[col]) : 
    try : 
      df.at[i,col] = order.index(df[col][i])
    except : 
      df.at[i,col] = -1

# Encode Label (ordinal type) for multiple columns  
def encode_labels(df,cols) : 
  for col in cols.keys() : 
    encode_label(df,col,cols[col])

# Encode One Hot (nominal type) for 1 column
def encode_onehot(df,col) :
  k = {}
  n = df[col].shape[0]
  unique = df[col].unique()
  for unq in unique : k[unq] = [0]*n
  for i in range(n) :
    k[df.at[i,col]][i] = 1
  for unq in unique : df[unq] = k[unq] 
  df.drop(col,1,inplace=True)

# Encode One Hot (nominal type) for multiple columns
def encode_onehots(df,cols) :
  for col in cols : encode_onehot(df,col)

# Encode both types (if value of dict[column] is None then nominal 
# otherwise ordinal type) for multiple columns
def encode(df,cols) : 
  for col in cols.keys() : 
    if(cols[col] is None) : encode_onehot(df,col)
    else : encode_label(df,col,cols[col])

labels = {}
labels['AirBags'] = ['None','Driver only','Driver & Passenger']
labels['DriveTrain'] = ['Front','Rear','4WD']
labels['Man.trans.avail'] = ['No','Yes']
labels['Origin'] = ['non-USA','USA']
labels['Type'] = None

print("Shape Before :",df.shape)

# Not Encoding Manufacturer & Model as it as lot of unique attributes 
# and hot encoding them might supress weightage of actual car specification 
# and will also lead to over-fitting based on just car mode and manufacturer

encode(df,labels)

print("Shape After  :",df.shape)

df.head(3)

Shape Before : (75, 26)
Shape After  : (75, 30)

  Manufacturer    Model  Min.Price  Price  ...  Midsize  Large  Compact Sporty
0        Acura  Integra       12.9   15.9  ...        0      0        0      0
1        Acura   Legend       29.2   33.9  ...        1      0        0      0
2          BMW     535i       23.7   30.0  ...        1      0        0      0

[3 rows x 30 columns]

###Normalization

In [ ]:
# convert to ints or floats if saved as str 
def str_to_num(df) : 
  for col in df : 
    try : df[col] = pd.to_numeric(df[col])
    except : pass

# Dividing by largest
def normalize_dbl(df,cols,round=None) : 
  if(type(cols)!=list) : cols = [cols]
  for col in cols : 
    l = max(df[col])
    if round is None : df[col] = df[col].div(l)
    else : df[col] = df[col].div(l).round(round)

# Dividing by constant
def normalize_dbc(df,cols,round=None,c=1) :
  if(type(cols)!=list) : cols = [cols]
  for col in cols : 
    if round is None : df[col] = df[col].div(l)
    else : df[col] = df[col].div(c).round(round)

# Dividing by constant x largest
def normalize_dblc(df,cols,round=None,c=1) :
  if(type(cols)!=list) : cols = [cols]
  for col in cols : 
    l = max(df[col]) * c
    if round is None : df[col] = df[col].div(l)
    else : df[col] = df[col].div(l).round(round)

# min-max normalization
def normalize_rescale(df,cols,round=None) :
  if(type(cols)!=list) : cols = [cols]
  for col in cols : 
    l = max(df[col])
    m = min(df[col])
    df[col] = df[col] - m
    l = l - m
    if round is None : df[col] = df[col].div(l)
    else : df[col] = df[col].div(l).round(round)

# mean normalization
def normalize_mean(df,cols,round=None) :
  if(type(cols)!=list) : cols = [cols]
  for col in cols : 
    l = max(df[col])
    m = min(df[col])
    mean = df[col].sum()
    n = df[col].shape[0]
    mean = mean/n
    l = l - m
    for i in range(n) : df.at[i,col] = df.at[i,col] - mean
    if round is None : df[col] = df[col].div(l)
    else : df[col] = df[col].div(l).round(round)

# Combining above normalization functions
def normalize(df,cols=None,kinds=None,round=None,c=1) :
  if(cols is None) : 
    cols = []
    for col in df : 
      if(pd.api.types.is_numeric_dtype(df[col])) : 
        if(max(df[col])>1 or min(df[col])<-1) : cols.append(col)
  if(type(cols)!=list) : cols = [cols]
  n = len(cols)
  if(kinds is None) : kinds = 'dbl'
  if(type(kinds)!=list) : kinds = [kinds]*n
  for i,kind in enumerate(kinds) : 
    if(kind=='dbl') : normalize_dbl(df,cols[i],round)
    if(kind=='dbc') : normalize_dbc(df,cols[i],round,c)
    if(kind=='dblc') : normalize_dblc(df,cols[i],round,c)
    if(kind in ['min-max','rescale','scale']) : normalize_rescale(df,cols[i],round)
    if(kind=='mean') : normalize_mean(df,cols[i],round)

str_to_num(df)
normalize(df,['Min.Price','Price','Max.Price'],'dbc',round=4,c=max(df['Max.Price'])) 
normalize(df)

df.head(3)

  Manufacturer    Model  Min.Price   Price  ...  Midsize  Large  Compact  Sporty
0        Acura  Integra     0.1612  0.1988  ...        0      0        0       0
1        Acura   Legend     0.3650  0.4238  ...        1      0        0       0
2          BMW     535i     0.2962  0.3750  ...        1      0        0       0

[3 rows x 30 columns]

###Train-Validation-Test Split (using sklearn)

In [ ]:
from sklearn.model_selection import train_test_split

x = df.copy()
x.drop(['Price','Manufacturer','Model'], axis=1, inplace=True)
y = df.loc[:,'Price']

def train_val_test(x,y,train_size=-1,val_size=-1,test_size=-1) : 

  if(train_size==-1) : train_size = 1-val_size-test_size
  if(val_size==-1) : test_size = 1-train_size-test_size

  x_train,x_val,y_train,y_val = train_test_split(x,y,train_size=train_size,random_state=42)

  x_val,x_test,y_val,y_test = train_test_split(x_val,y_val,train_size=(test_size/(1-train_size)),random_state=42)

  return x_train,x_val,x_test,y_train,y_val,y_test

x_train,x_val,x_test,y_train,y_val,y_test = train_val_test(x,y,train_size=0.7,test_size=0.1)  

print("Training Data   :",x_train.shape)
print("Validation Data :",x_val.shape)
print("Test Data       :",x_test.shape)

Training Data   : (52, 27)
Validation Data : (15, 27)
Test Data       : (8, 27)

##Evaluation

####Training

In [ ]:
# Importing Libraries & Data

from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LogisticRegression as LR
from sklearn.tree import DecisionTreeClassifier as DTC
from sklearn.metrics import confusion_matrix as cm
from sklearn.metrics import precision_score as ps
from sklearn.metrics import recall_score as rs
from sklearn.metrics import f1_score as f1s
from sklearn.metrics import accuracy_score

from warnings import simplefilter
from sklearn.exceptions import ConvergenceWarning
simplefilter("ignore", category=ConvergenceWarning)

data = pd.read_csv(path+"Breast Cancer.csv")

# String Labels to Numeric

condition_M = data.diagnosis == "M"
condition_B = data.diagnosis == "B"

data.loc[condition_M,"diagnosis"]=0
data.loc[condition_B,"diagnosis"]=1

data

           id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0      842302         0  ...                  0.11890          NaN
1      842517         0  ...                  0.08902          NaN
2    84300903         0  ...                  0.08758          NaN
3    84348301         0  ...                  0.17300          NaN
4    84358402         0  ...                  0.07678          NaN
..        ...       ...  ...                      ...          ...
564    926424         0  ...                  0.07115          NaN
565    926682         0  ...                  0.06637          NaN
566    926954         0  ...                  0.07820          NaN
567    927241         0  ...                  0.12400          NaN
568     92751         1  ...                  0.07039          NaN

[569 rows x 33 columns]

In [ ]:
# DF in np array 

Y = data.diagnosis.to_numpy().astype('int')                                     

X_data = data.drop(columns=["id","diagnosis","Unnamed: 32"])
X = X_data.to_numpy()                  

# Splitting Data

user_prompt = 0.3
user_enable = False

x_train,x_test,y_train,y_test = tts(X,Y,test_size=user_prompt,shuffle=user_enable)

# Training

logistic_model = LR()
logistic_model.fit(x_train,y_train)
logistic_pred = logistic_model.predict(x_test)

decision_model = DTC()
decision_model.fit(x_train,y_train)
decision_pred = decision_model.predict(x_test)
Actual = np.copy(y_test)

print("Actual : \n",Actual)
print("Predicted (Logistic Regression) : \n",logistic_pred)
print("Predicted (Decision Tree)       : \n",decision_pred)

Actual :
 [1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1
 0 1 1 1 1 1 0 1 1 0 1 0 1 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 0 1 1 1
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 0 1 1 0 1 1 1 1 1 0 0 1 0 1 0 1 1 1 1 1
 0 1 1 0 1 0 1 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 1]
Predicted (Logistic Regression) :
 [1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 0 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1
 0 1 1 1 1 1 0 1 1 0 1 0 1 0 0 1 0 1 1 1 0 0 1 1 1 0 0 1 1 1 0 1 1 0 1 1 1
 1 1 1 1 0 1 1 0 1 0 1 1 1 1 1 0 1 0 1 0 0 1 1 1 1 1 0 0 1 0 1 0 1 1 1 1 1
 0 1 1 0 1 0 1 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 0 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 1]
Predicted (Decision Tree)       :
 [1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 0 0 1 1 0 1 1 1 0 1 1 0 1 1 1 1 1 0 1 0 0 1
 0 1 1 1 1 1 0 1 1 0 1 0 1 0 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 0 0 1 0
 1 1 1 1 0 1 1 0 1 1 1 1 0 1 0 0 1 0 1 1 0 1 1 1 1 1 0 0 1 0 1 0 0 0 1 1 1
 0 1 1 0 1 0 1 0 0 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 0 1 1 1 0 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 0 0 0 0 0 0 1]

###Evaluation Metrics (Inbulit v/s Scratch)

In [ ]:
from time import time as t

def micro(now) : 
  return str(int(now*(10**6)))
def acc(accuracy) :
  accuracy = int(accuracy*(10**4))
  accuracy = accuracy/100
  return str(accuracy)+" %"

bold = '\033[1m'
end = '\033[0m'
green = '\033[92m'
red = '\033[91m'

def print_accuracy(inbuilt,scratch,decision) :
  if(decision) : print("\nDecision Tree -")
  else : print("\nLogistic Regression -")
  if(inbuilt>scratch) : inb,scr = green,red 
  elif(inbuilt<scratch) : inb,scr = red,green
  else : inb=scr=''
  print(f"\n\t Inbuilt : {inb}{acc(inbuilt)}{end} \n\t Scratch : {scr}{acc(scratch)}{end}")

def print_time(inbuilt,scratch) :
  if(inbuilt>scratch) : inb,scr = red,green 
  elif(inbuilt<scratch) : inb,scr = green,red
  else : inb=scr=''
  print(f"\nTime Taken -\n \n\t Inbuilt : {inb}{micro(inbuilt)}{end} s \n\t Scratch : {scr}{micro(scratch)}{end} s")

#### 1) Average Accuracy & Class Wise Average Accuracy

In [ ]:
# Average 

def average(actual,prediction):
  acc = 0 
  for i in range(actual.size) : 
    acc+= int(actual[i]==prediction[i])
  acc = acc/actual.size
  return acc 

now = t()
inbuilt_acc_logistic = accuracy_score(y_test,logistic_pred)
inbuilt_acc_decision = accuracy_score(y_test,decision_pred)
inbuilt = t()-now

now = t()
scratch_acc_logistic = average(y_test,logistic_pred)
scratch_acc_decision = average(y_test,decision_pred)
scratch = t()-now

print(bold+green+"Average"+end)
print_accuracy(inbuilt_acc_logistic,scratch_acc_logistic,False)
print_accuracy(inbuilt_acc_decision,scratch_acc_decision,True)
print_time(inbuilt,scratch)

Average

Logistic Regression -

	 Inbuilt : 93.56 %
	 Scratch : 93.56 %

Decision Tree -

	 Inbuilt : 88.88 %
	 Scratch : 88.88 %

Time Taken -

	 Inbuilt : 2343 s
	 Scratch : 579 s

In [ ]:
# Class Wise Average

def class_wise_average(actual,prediction):
  acc = [0,0]
  n = [0,0]
  for i in range(actual.size) : 
    c = actual[i]
    acc[c] = acc[c] + int(actual[i]==prediction[i])
    n[c] = n[c] + 1
  acc[0] = acc[0]/n[0]
  acc[1] = acc[1]/n[1]
  return acc 

now = t()
cmx = cm(y_test,logistic_pred)
cmx = cmx.astype('float') / cmx.sum(axis=1)[:, np.newaxis]
inbuilt_cwa_logistic = cmx.diagonal()
cmx = cm(y_test,decision_pred)
cmx = cmx.astype('float') / cmx.sum(axis=1)[:, np.newaxis]
inbuilt_cwa_decision = cmx.diagonal()
inbuilt = t()-now

now = t()
scratch_cwa_logistic = class_wise_average(y_test,logistic_pred)
scratch_cwa_decision = class_wise_average(y_test,decision_pred)
scratch = t()-now

print(bold+green+"Class-Wise Average"+end)
print(f"\n{red}Malignant{end}")
print_accuracy(inbuilt_cwa_logistic[0],scratch_cwa_logistic[0],False)
print_accuracy(inbuilt_cwa_decision[0],scratch_cwa_decision[0],True)
print(f"\n{red}Benign{end}")
print_accuracy(inbuilt_cwa_logistic[1],scratch_cwa_logistic[1],False)
print_accuracy(inbuilt_cwa_decision[1],scratch_cwa_decision[1],True)
print()
print_time(inbuilt,scratch)

Class-Wise Average

Malignant

Logistic Regression -

	 Inbuilt : 97.43 %
	 Scratch : 97.43 %

Decision Tree -

	 Inbuilt : 97.43 %
	 Scratch : 97.43 %

Benign

Logistic Regression -

	 Inbuilt : 92.42 %
	 Scratch : 92.42 %

Decision Tree -

	 Inbuilt : 86.36 %
	 Scratch : 86.36 %


Time Taken -

	 Inbuilt : 5867 s
	 Scratch : 487 s

####2) Precision

In [ ]:
# Precision

def precision(actual,prediction):
  acc = 0 
  for i in range(actual.size) : 
    acc+= int(actual[i]==1 and prediction[i]==1)
  acc = acc/sum(prediction)
  return acc 

now = t()
inbuilt_ps_logistic = ps(y_test,logistic_pred)
inbuilt_ps_decision = ps(y_test,decision_pred)
inbuilt = t()-now

now = t()
scratch_ps_logistic = precision(y_test,logistic_pred)
scratch_ps_decision = precision(y_test,decision_pred)
scratch = t()-now

print(bold+green+"Precision"+end)
print_accuracy(inbuilt_ps_logistic,scratch_ps_logistic,False)
print_accuracy(inbuilt_ps_decision,scratch_ps_decision,True)
print_time(inbuilt,scratch)

Precision

Logistic Regression -

	 Inbuilt : 99.18 %
	 Scratch : 99.18 %

Decision Tree -

	 Inbuilt : 99.13 %
	 Scratch : 99.13 %

Time Taken -

	 Inbuilt : 3421 s
	 Scratch : 505 s

####3) Recall

In [ ]:
# Recall

def recall(actual,prediction):
  acc = 0 
  for i in range(actual.size) : 
    acc+= int(actual[i]==1 and prediction[i]==1)
  acc = acc/sum(actual)
  return acc 

now = t()
inbuilt_rs_logistic = rs(y_test,logistic_pred)
inbuilt_rs_decision = rs(y_test,decision_pred)
inbuilt = t()-now

now = t()
scratch_rs_logistic = recall(y_test,logistic_pred)
scratch_rs_decision = recall(y_test,decision_pred)
scratch = t()-now

print(bold+green+"Recall"+end)
print_accuracy(inbuilt_rs_logistic,scratch_rs_logistic,False)
print_accuracy(inbuilt_rs_decision,scratch_rs_decision,True)
print_time(inbuilt,scratch)

Recall

Logistic Regression -

	 Inbuilt : 92.42 %
	 Scratch : 92.42 %

Decision Tree -

	 Inbuilt : 86.36 %
	 Scratch : 86.36 %

Time Taken -

	 Inbuilt : 4978 s
	 Scratch : 458 s

####4) F1-Score

In [ ]:
# F1-Score

def F1(actual,prediction):
  acc = 0 
  for i in range(actual.size) : 
    acc+= int(actual[i]==1 and prediction[i]==1)
  ps = acc/sum(prediction)
  rs = acc/sum(actual)
  acc = 2*ps*rs
  acc = acc/(ps+rs)
  return acc

now = t()
inbuilt_f1s_logistic = f1s(y_test,logistic_pred)
inbuilt_f1s_decision = f1s(y_test,decision_pred)
inbuilt = t()-now

now = t()
scratch_f1s_logistic = F1(y_test,logistic_pred)
scratch_f1s_decision = F1(y_test,decision_pred)
scratch = t()-now

print(bold+green+"F1-Score"+end)
print_accuracy(inbuilt_f1s_logistic,scratch_f1s_logistic,False)
print_accuracy(inbuilt_f1s_decision,scratch_f1s_decision,True)
print_time(inbuilt,scratch)

F1-Score

Logistic Regression -

	 Inbuilt : 95.68 %
	 Scratch : 95.68 %

Decision Tree -

	 Inbuilt : 92.3 %
	 Scratch : 92.3 %

Time Taken -

	 Inbuilt : 4408 s
	 Scratch : 1008 s

####5) Sensitivity

In [ ]:
# Sensitivity

def sensitivity(actual,prediction):
  acc = 0 
  for i in range(actual.size) : 
    acc+= int(actual[i]==1 and prediction[i]==1)
  acc = acc/sum(actual)
  return acc 

now = t()
inbuilt_se_logistic = rs(y_test,logistic_pred)
inbuilt_se_decision = rs(y_test,decision_pred)
inbuilt = t()-now

now = t()
scratch_se_logistic = sensitivity(y_test,logistic_pred)
scratch_se_decision = sensitivity(y_test,decision_pred)
scratch = t()-now

print(bold+green+"Sensitivity"+end)
print_accuracy(inbuilt_se_logistic,scratch_se_logistic,False)
print_accuracy(inbuilt_se_decision,scratch_se_decision,True)
print_time(inbuilt,scratch)

Sensitivity

Logistic Regression -

	 Inbuilt : 92.42 %
	 Scratch : 92.42 %

Decision Tree -

	 Inbuilt : 86.36 %
	 Scratch : 86.36 %

Time Taken -

	 Inbuilt : 8678 s
	 Scratch : 1204 s

####6) Specificity

In [ ]:
# Specificity

def specificity(actual,prediction):
  acc = 0 
  for i in range(actual.size) : 
    acc+= int(actual[i]==0 and prediction[i]==0)
  acc = acc/(len(actual)-sum(actual))
  return acc 

now = t()
inbuilt_sp_logistic = rs(y_test,logistic_pred,pos_label=0)
inbuilt_sp_decision = rs(y_test,decision_pred,pos_label=0)
inbuilt = t()-now

now = t()
scratch_sp_logistic = specificity(y_test,logistic_pred)
scratch_sp_decision = specificity(y_test,decision_pred)
scratch = t()-now

print(bold+green+"Specificity"+end)
print_accuracy(inbuilt_sp_logistic,scratch_sp_logistic,False)
print_accuracy(inbuilt_sp_decision,scratch_sp_decision,True)
print_time(inbuilt,scratch)

Specificity

Logistic Regression -

	 Inbuilt : 97.43 %
	 Scratch : 97.43 %

Decision Tree -

	 Inbuilt : 97.43 %
	 Scratch : 97.43 %

Time Taken -

	 Inbuilt : 6130 s
	 Scratch : 783 s